<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.openthinks.plc.core.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.openthinks.plc.core.model.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cateory" property="cateory" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_value" property="itemValue" jdbcType="INTEGER" />
    <result column="item_desc" property="itemDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cateory, item_name, item_value, item_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.DictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.openthinks.plc.core.model.DictionaryExample" >
    delete from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.openthinks.plc.core.model.Dictionary" >
    insert into dictionary (id, cateory, item_name, 
      item_value, item_desc)
    values (#{id,jdbcType=INTEGER}, #{cateory,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemValue,jdbcType=INTEGER}, #{itemDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.openthinks.plc.core.model.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cateory != null" >
        cateory,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemValue != null" >
        item_value,
      </if>
      <if test="itemDesc != null" >
        item_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cateory != null" >
        #{cateory,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null" >
        #{itemValue,jdbcType=INTEGER},
      </if>
      <if test="itemDesc != null" >
        #{itemDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.openthinks.plc.core.model.DictionaryExample" resultType="java.lang.Integer" >
    select count(*) from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dictionary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cateory != null" >
        cateory = #{record.cateory,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemValue != null" >
        item_value = #{record.itemValue,jdbcType=INTEGER},
      </if>
      <if test="record.itemDesc != null" >
        item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dictionary
    set id = #{record.id,jdbcType=INTEGER},
      cateory = #{record.cateory,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_value = #{record.itemValue,jdbcType=INTEGER},
      item_desc = #{record.itemDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.openthinks.plc.core.model.Dictionary" >
    update dictionary
    <set >
      <if test="cateory != null" >
        cateory = #{cateory,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null" >
        item_value = #{itemValue,jdbcType=INTEGER},
      </if>
      <if test="itemDesc != null" >
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.openthinks.plc.core.model.Dictionary" >
    update dictionary
    set cateory = #{cateory,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_value = #{itemValue,jdbcType=INTEGER},
      item_desc = #{itemDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- generated by SelectOneByExamplePlugin Fri Jun 15 13:10:37 CST 2018 -->
  <select id="selectOneByExample" parameterType="com.openthinks.plc.core.model.DictionaryExample" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.DictionaryExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>