<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.openthinks.plc.core.mapper.LocationsMapper" >
  <resultMap id="BaseResultMap" type="com.openthinks.plc.core.model.Locations" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="coord_type" property="coordType" jdbcType="TINYINT" />
    <result column="location_type" property="locationType" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_modify" property="lastModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, province, city, address, latitude, longitude, coord_type, location_type, 
    create_date, last_modify
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.LocationsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from locations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from locations
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from locations
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.openthinks.plc.core.model.LocationsExample" >
    delete from locations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.openthinks.plc.core.model.Locations" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT UUID_SHORT()
    </selectKey>
    insert into locations (id, name, province, 
      city, address, latitude, 
      longitude, coord_type, location_type, 
      create_date, last_modify)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{coordType,jdbcType=TINYINT}, #{locationType,jdbcType=TINYINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.openthinks.plc.core.model.Locations" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT UUID_SHORT()
    </selectKey>
    insert into locations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="name != null" >
        name,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="coordType != null" >
        coord_type,
      </if>
      <if test="locationType != null" >
        location_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastModify != null" >
        last_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="coordType != null" >
        #{coordType,jdbcType=TINYINT},
      </if>
      <if test="locationType != null" >
        #{locationType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModify != null" >
        #{lastModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.openthinks.plc.core.model.LocationsExample" resultType="java.lang.Integer" >
    select count(*) from locations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update locations
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.coordType != null" >
        coord_type = #{record.coordType,jdbcType=TINYINT},
      </if>
      <if test="record.locationType != null" >
        location_type = #{record.locationType,jdbcType=TINYINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModify != null" >
        last_modify = #{record.lastModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update locations
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      coord_type = #{record.coordType,jdbcType=TINYINT},
      location_type = #{record.locationType,jdbcType=TINYINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      last_modify = #{record.lastModify,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.openthinks.plc.core.model.Locations" >
    update locations
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="coordType != null" >
        coord_type = #{coordType,jdbcType=TINYINT},
      </if>
      <if test="locationType != null" >
        location_type = #{locationType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModify != null" >
        last_modify = #{lastModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.openthinks.plc.core.model.Locations" >
    update locations
    set name = #{name,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      coord_type = #{coordType,jdbcType=TINYINT},
      location_type = #{locationType,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_modify = #{lastModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- generated by SelectOneByExamplePlugin Thu Jul 19 23:37:45 CST 2018 -->
  <select id="selectOneByExample" parameterType="com.openthinks.plc.core.model.LocationsExample" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from locations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.LocationsExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from locations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>