<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.openthinks.plc.core.mapper.ShippingsVwMapper" >
  <resultMap id="BaseResultMap" type="com.openthinks.plc.core.model.ShippingsVw" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="ship_date" property="shipDate" jdbcType="DATE" />
    <result column="vehicle_id" property="vehicleId" jdbcType="BIGINT" />
    <result column="from_id" property="fromId" jdbcType="BIGINT" />
    <result column="to_id" property="toId" jdbcType="BIGINT" />
    <result column="ship_status" property="shipStatus" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_modify" property="lastModify" jdbcType="TIMESTAMP" />
    <result column="from_name" property="fromName" jdbcType="VARCHAR" />
    <result column="from_latitude" property="fromLatitude" jdbcType="VARCHAR" />
    <result column="from_longitude" property="fromLongitude" jdbcType="VARCHAR" />
    <result column="from_coord_type" property="fromCoordType" jdbcType="TINYINT" />
    <result column="from_location_type" property="fromLocationType" jdbcType="TINYINT" />
    <result column="from_province" property="fromProvince" jdbcType="VARCHAR" />
    <result column="from_city" property="fromCity" jdbcType="VARCHAR" />
    <result column="from_address" property="fromAddress" jdbcType="VARCHAR" />
    <result column="to_name" property="toName" jdbcType="VARCHAR" />
    <result column="to_latitude" property="toLatitude" jdbcType="VARCHAR" />
    <result column="to_longitude" property="toLongitude" jdbcType="VARCHAR" />
    <result column="to_coord_type" property="toCoordType" jdbcType="TINYINT" />
    <result column="to_location_type" property="toLocationType" jdbcType="TINYINT" />
    <result column="to_province" property="toProvince" jdbcType="VARCHAR" />
    <result column="to_city" property="toCity" jdbcType="VARCHAR" />
    <result column="to_address" property="toAddress" jdbcType="VARCHAR" />
    <result column="ship_status_name" property="shipStatusName" jdbcType="VARCHAR" />
    <result column="ship_status_desc" property="shipStatusDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ship_date, vehicle_id, from_id, to_id, ship_status, create_date, last_modify, 
    from_name, from_latitude, from_longitude, from_coord_type, from_location_type, from_province, 
    from_city, from_address, to_name, to_latitude, to_longitude, to_coord_type, to_location_type, 
    to_province, to_city, to_address, ship_status_name, ship_status_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.ShippingsVwExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shippings_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.openthinks.plc.core.model.ShippingsVwExample" resultType="java.lang.Integer" >
    select count(*) from shippings_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- generated by SelectOneByExamplePlugin Tue Jun 05 16:57:19 CST 2018 -->
  <select id="selectOneByExample" parameterType="com.openthinks.plc.core.model.ShippingsVwExample" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shippings_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.ShippingsVwExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shippings_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>