<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.openthinks.plc.core.mapper.VehicleTrackVwMapper" >
  <resultMap id="BaseResultMap" type="com.openthinks.plc.core.model.VehicleTrackVw" >
    <result column="ship_id" property="shipId" jdbcType="BIGINT" />
    <result column="ship_date" property="shipDate" jdbcType="DATE" />
    <result column="from_id" property="fromId" jdbcType="BIGINT" />
    <result column="to_id" property="toId" jdbcType="BIGINT" />
    <result column="ship_status" property="shipStatus" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="vehicle_id" property="vehicleId" jdbcType="BIGINT" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="coord_type" property="coordType" jdbcType="TINYINT" />
    <result column="track_time" property="trackTime" jdbcType="TIMESTAMP" />
    <result column="yali" property="yali" jdbcType="VARCHAR" />
    <result column="temp" property="temp" jdbcType="VARCHAR" />
    <result column="shidu" property="shidu" jdbcType="VARCHAR" />
    <result column="door_state" property="doorState" jdbcType="INTEGER" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ship_id, ship_date, from_id, to_id, ship_status, create_date, vehicle_id, latitude, 
    longitude, coord_type, track_time, yali, temp, shidu, door_state, car_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.VehicleTrackVwExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicle_track_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.openthinks.plc.core.model.VehicleTrackVwExample" resultType="java.lang.Integer" >
    select count(*) from vehicle_track_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- generated by SelectOneByExamplePlugin Thu Jul 19 23:37:45 CST 2018 -->
  <select id="selectOneByExample" parameterType="com.openthinks.plc.core.model.VehicleTrackVwExample" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicle_track_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.VehicleTrackVwExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicle_track_vw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>