<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.openthinks.plc.core.mapper.VehiclesMapper" >
  <resultMap id="BaseResultMap" type="com.openthinks.plc.core.model.Vehicles" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="driver" property="driver" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" index="idx" >
        <if test="criteria.valid" >
          <if test="idx > 0" >
            ${criteria.criteriaLogical}
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and |or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  ${criterion.criterionLogical} ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  ${criterion.criterionLogical} ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, car_no, company, driver, car_type, create_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.VehiclesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vehicles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vehicles
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.openthinks.plc.core.model.VehiclesExample" >
    delete from vehicles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.openthinks.plc.core.model.Vehicles" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT UUID_SHORT()
    </selectKey>
    insert into vehicles (id, car_no, company, 
      driver, car_type, create_date
      )
    values (#{id,jdbcType=BIGINT}, #{carNo,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{driver,jdbcType=VARCHAR}, #{carType,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.openthinks.plc.core.model.Vehicles" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT UUID_SHORT()
    </selectKey>
    insert into vehicles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="carNo != null" >
        car_no,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="driver != null" >
        driver,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="carNo != null" >
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.openthinks.plc.core.model.VehiclesExample" resultType="java.lang.Integer" >
    select count(*) from vehicles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vehicles
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.carNo != null" >
        car_no = #{record.carNo,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.driver != null" >
        driver = #{record.driver,jdbcType=VARCHAR},
      </if>
      <if test="record.carType != null" >
        car_type = #{record.carType,jdbcType=TINYINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vehicles
    set id = #{record.id,jdbcType=BIGINT},
      car_no = #{record.carNo,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      driver = #{record.driver,jdbcType=VARCHAR},
      car_type = #{record.carType,jdbcType=TINYINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.openthinks.plc.core.model.Vehicles" >
    update vehicles
    <set >
      <if test="carNo != null" >
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.openthinks.plc.core.model.Vehicles" >
    update vehicles
    set car_no = #{carNo,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      driver = #{driver,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- generated by SelectOneByExamplePlugin Fri Jun 15 13:10:37 CST 2018 -->
  <select id="selectOneByExample" parameterType="com.openthinks.plc.core.model.VehiclesExample" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.openthinks.plc.core.model.VehiclesExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>